<!-- templates/auth_app/password_reset_complete.html -->

{% extends "auth_app/base.html" %} {% block title %}Password Reset Complete -
Bubble Auth{% endblock %} {% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md px-4 sm:px-6 lg:px-8 mx-auto">
        <div class="w-full max-w-sm mx-auto bg-white p-8 rounded-lg shadow-md">
            <!-- Display messages -->
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-4">{{ message }}</div>
            {% endfor %} {% endif %}

            <div class="text-center">
                <h2 class="font-medium text-xl text-gray-800">
                    Password Successfully Reset
                </h2>
                <p class="mt-2 text-gray-600">
                    Your password has been reset successfully. You can now log
                    in with your new password.
                </p>
                <a
                    href="{% url 'login' %}"
                    class="mt-4 inline-block text-indigo-600 hover:text-indigo-500"
                    >Go to Login</a
                >
            </div>
        </div>
    </div>
</div>
{% endblock %}
