<!-- templates/auth_app/profile_edit.html -->

{% extends "auth_app/base.html" %}

{% block title %}Edit Profile - Bubble Auth{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md px-4 sm:px-6 lg:px-8 mx-auto">
        <div class="w-full max-w-sm mx-auto">
            <!-- Display messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <!-- Profile Edit Form -->
            <form method="post" action="{% url 'profile_edit' %}">
                {% csrf_token %}
                <div class="space-y-8">
                    <div class="text-center">
                        <h2 class="font-medium text-xl text-gray-800">Edit Profile</h2>
                    </div>

                    <div class="space-y-3">
                        <!-- Render form fields -->
                        {{ form.as_p }}
                    </div>

                    <div class="space-y-4">
                        <button type="submit" class="w-full py-3 px-4 bg-slate-200 text-slate-900 rounded-lg hover:bg-slate-300">Save Changes</button>

                        <a href="{% url 'profile' %}" class="w-full py-3 px-4 block text-center text-indigo-600 hover:text-indigo-500">Cancel</a>
                    </div>
                </div>
            </form>
            <!-- End Profile Edit Form -->
        </div>
    </div>
</div>
{% endblock %}
